<p>lijst works!</p>

<form [formGroup]="productZoekenForm" (ngSubmit)="onSubmit()">
    <span>Naam: <input type="text" formControlName="naam" /></span>
    <button type="submit" [disabled]="!productZoekenForm.valid">Zoek</button>
</form>

<table>
    <tbody>
        <tr>
            <th>Naam</th>
            <th>Aantal</th>
            <th>Prijs</th>
        </tr>
        <tr *ngFor="let product of producten">
            <td>{{product.naam}}</td>
            <td>{{product.aantal}}</td>
            <td>{{product.prijs}}</td>
        </tr>

    </tbody>
</table>